# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Database
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# CLAUDE
CLAUDE.md
AGENT.md
future_implement.md
Auth_and_Logging_plan.md